<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.play.waco.repository.TournamentMapper">
	<select id="selectMatchPlayerInfo" resultType="tournament">
		SELECT A.ID, A.MATCHID, A.EVENTID, A.PLAYERID, A.WEIGHT_DIVISION, A.REGDATE, B.ID, B.GYM AS GYMID, B.WEIGHT, B.WIN, B.LOSE, B.TIE 
		FROM MATCH_REGISTER A 
		     INNER JOIN PLAYER B ON B.ID = A.PLAYERID 
		WHERE A.MATCHID = #{matchid}
		AND A.EVENTID = #{eventid}
		ORDER BY B.GYM, A.WEIGHT_DIVISION
	</select>
</mapper>